@model IEnumerable<dotnetproyect.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-2xl text-white font-bold">Productos</h1>
<div class="grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 gap-6">
    
    
    @foreach (var producto in Model)
    {
        <div class="bg-white text-gray-800 dark:bg-gray-700 dark:text-white p-4 rounded-lg shadow-md">
            <h2 class="text-xl font-bold">@producto.Nombre</h2>
            <img src="~/images/productos/@producto.foto" alt="Foto de @producto.Nombre"
                class="w-full h-auto object-cover rounded-lg shadow-md mt-2">
            <p class="mt-2"><strong>Descripción:</strong> @producto.Descripcion</p>
            <p><strong>Existencias:</strong> @producto.Existencia</p>
            <p><strong>Tipo de Producto:</strong> @producto.Tipo_prod</p>
            <p><strong>Fabricante:</strong> @producto.Fabricante.nombre</p>
            <div class="flex justify-between mt-4">
                <a asp-action="Edit" asp-route-id="@producto.Id" 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Editar
                </a>
                <a asp-action="Details" asp-route-id="@producto.Id" 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    ver detalles
                </a>
                <a asp-action="Delete" asp-route-id="@producto.Id" 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Eliminar
                    </a>
            </div>
        </div>
    }
</div>